/* Most common useable font */
@import url('https://fonts.googleapis.com/css2?family=Arima&family=Cairo&family=Finlandica:ital@1&family=Montserrat&family=PT+Sans&family=Playfair+Display:ital,wght@1,600&family=Poppins:wght@500&display=swap');

/* Most useable style start here */
body {
    font-family: 'Poppins', sans-serif;

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Most useable style End here */

/* web site header section style start header */
.continer {
    width: 1321px;
    height: 613px;
    margin-top: 50px;
}

.header {
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: #161616;
}

.header_titile {
    width: 50%;
}

.header-left {
    padding-left: 106px;
}

.header-left h1 {
    font-weight: 700;
    font-size: 70px;
    color: white;
    margin-bottom: 20px;
    line-height: 80px;

}

.header-left p {
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
}

.header-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #DD0000;
    width: 187px;
    height: 56px;
    border-radius: 5px;
    color: aliceblue;
}

.header_image {
    margin-bottom: 0px;
    padding-left: 50px;
    width: 50%;
}

.header_image img {
    padding-top: 33px;
    padding-bottom: 0px;
    padding-right: 79px;
    width: 581px;
    height: 613px;
}

/* web site header section style End header */

/* main section style start here */

.top_items {
    margin-top: 126px;
}

.top_item {
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
}

.top-navigations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .navigation-bar {
    display: flex;
    flex-direction: column;
    align-items: center;

} */

.navigation-bar li {
    list-style: none;
    border: 1px solid rebeccapurple;
    background-color: aqua;
    width: 252px;
    height: 64px;
    text-align: center;
}

.navigation-bar li>a {
    text-decoration: none;
    color: white;
}

/* Main section style end here  */

/* footer section style star here  */
.footers {
    margin-top: 130px;
    height: 400px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_heading h2 {
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-bottom: 42px;
}

/* hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0px 100px;
} */
.footer_line {
    /* margin: 0px 100px; */
    /* color: #B9B9B9; */
    border: 1px solid #B9B9B9;
    width: 1200px;
}

.footer_list ul {
    margin-bottom: 34px;
    margin-top: 42px;
}

.footer_list ul>li {
    list-style: none;
    display: inline-block;
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;
    padding-left: 30px;
}

.social_links {
    color: #B9B9B9;
    font-size: 20px;
    margin-top: 16px;
}

.social_links a {
    text-decoration: none;
    color: #B9B9B9;
}

.social_link {
    /* padding-left: 30px; */
    /* padding-top: 30px; */
    padding: 10px;
    border: 1px solid #B9B9B9;
    border-radius: 50%;
    margin-left: 20px;
}

/* footer section style end here  */